@import "../iconfont/iconfont.css";

.denoui-tree{
    margin: 0;
    padding: 5px;
    color: rgba(0, 0, 0, 0.65);
    overflow: auto;
}
.denoui-tree *{
    font-family: 微软雅黑;
}
.denoui-tree-node-container{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    white-space: nowrap;
    outline: 0;
}
.denoui-tree-node-children{
    padding-left: 15px;
}
.denoui-visibility-hidden{
    visibility:hidden;
}
.denoui-tree-node-container .denoui-tree-node{
    cursor: pointer;
    display: block;
    font-size: 12px;
    margin: 2px 0;
    height: 26px;
    line-height: 26px;
}
.denoui-tree-node-container .denoui-tree-node  .denoui-icon{
    position: relative;
    top: 1.5px;
    padding-right: 3px;
}
.denoui-tree-node-container .denoui-tree-node  .denoui-icon-checkboxpartial{
    top: 2px;
    transform: scale(0.9);
    display: inline-block;
}



.denoui-tree-table{
    position: relative;
    text-align: left;
    table-layout: auto;
    display: table;
    width: 100%;
    /*height: 1px;*/
    border-spacing: 0;
}

.denoui-tree-table-nodes-cell,.denoui-tree-table-node-cell{
    border-bottom:0;
    border-right:0;
    padding:0;
}

.denoui-tree-indent {
    display: inline-block;
    width: 12px;
}